In [75]:
import pandas as pd
import numpy as np
import re

In [76]:
url1="https://raw.githubusercontent.com/kushalpoddar/idyll-dummy-dataset/main/users.csv"
url2="https://raw.githubusercontent.com/kushalpoddar/idyll-dummy-dataset/main/swipes.csv"

In [77]:
users=pd.read_csv('./users.csv')
# users.set_index("_id",inplace=True)

In [78]:
users.head()

,_id,bio,college,country,createdAt,dob,email,face_detection_probabilities,gender,height,...,is_verified,mobile,name,status,type,updatedAt,verified_at,what_to_find,who_to_date,is_subscribed
0,0,I am very honest and caring person,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:23:18.004Z,2002-07-16T00:00:00.000Z,9000000000@get.idyll,[90.7028079032898],M,175.0,...,True,9000000000,Prakhar Sharma,True,U,2023-02-22T11:57:08.616Z,2023-02-22T11:57:04.347Z,C,F,True
1,1,Let's go on a date.,"[""Heritage ""]",IN,2023-02-07T05:44:15.450Z,1999-02-26T00:00:00.000Z,9100000000@get.idyll,[],M,177.0,...,True,9100000000,Amit,True,U,2023-02-21T18:07:44.286Z,2023-02-21T18:01:34.165Z,C,F,True
2,2,Loving life,"[""Jawaharlal Nehru University""]",IN,2023-02-07T05:57:29.233Z,2001-01-08T00:00:00.000Z,9200000000@get.idyll,[88.67224454879761],F,175.0,...,True,9200000000,Ritz,True,U,2023-02-14T10:33:13.373Z,NaN,R,M,True
3,3,Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...,"[""Jawaharlal Nehru University""]",IN,2023-02-07T06:04:39.836Z,2000-08-20T00:00:00.000Z,9300000000@get.idyll,"[90.63367247581482,70.43942511081696,96.189951...",M,177.0,...,True,9300000000,Devesh Shukla,True,U,2023-02-26T20:28:11.956Z,NaN,R,F,True
4,4,ðŸ™„,"[""Jawaharlal Nehru University""]",IN,2023-02-07T07:05:14.605Z,2000-07-31T00:00:00.000Z,9400000000@get.idyll,NaN,M,178.0,...,False,9400000000,Aditya bhadoriya,True,U,2023-02-07T07:09:17.627Z,NaN,NS,A,NaN

In [79]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1405 entries, 0 to 1404
Data columns (total 24 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           1405 non-null   int64
 1   bio                           1076 non-null   object
 2   college                       1403 non-null   object
 3   country                       1405 non-null   object
 4   createdAt                     1405 non-null   object
 5   dob                           1192 non-null   object
 6   email                         1405 non-null   object
 7   face_detection_probabilities  765 non-null    object
 8   gender                        1258 non-null   object
 9   height                        646 non-null    float64
 10  insta_username                0 non-null      float64
 11  interests                     1403 non-null   object
 12  is_habit_drink                883 non-null    object
 13  is_habit_smoke                880 non-null    object
 14  is_verified                   1404 non-null   object
 15  mobile                        1405 non-null   int64
 16  name                          1261 non-null   object
 17  status                        1405 non-null   bool
 18  type                          1405 non-null   object
 19  updatedAt                     1405 non-null   object
 20  verified_at                   178 non-null    object
 21  what_to_find                  884 non-null    object
 22  who_to_date                   1190 non-null   object
 23  is_subscribed                 557 non-null    object
dtypes: bool(1), float64(2), int64(2), object(19)
memory usage: 254.0+ KB

# Cleaning

In [80]:
# users_relevant = ['createdAt', 'gender', 'interests' , 'is_verified','status','updatedAt','who_to_date','is_subscribed']
users_relevant = ['bio','college','dob','face_detection_probabilities','createdAt', 'gender', 
                  'interests' ,'status','updatedAt','who_to_date','is_subscribed','is_habit_drink',
                  'is_habit_smoke','is_verified','name']

In [81]:
users_df = users[users_relevant]

In [82]:
users_df

,bio,college,dob,face_detection_probabilities,createdAt,gender,interests,status,updatedAt,who_to_date,is_subscribed,is_habit_drink,is_habit_smoke,is_verified,name
0,I am very honest and caring person,"[""Jawaharlal Nehru University""]",2002-07-16T00:00:00.000Z,[90.7028079032898],2023-02-07T05:23:18.004Z,M,"[""Art & Craft"",""Bollywood"",""Comedy"",""Design"",""...",True,2023-02-22T11:57:08.616Z,F,True,N,N,True,Prakhar Sharma
1,Let's go on a date.,"[""Heritage ""]",1999-02-26T00:00:00.000Z,[],2023-02-07T05:44:15.450Z,M,"[""Singing"",""Writing"",""Dancing"",""Mountains"",""Bi...",True,2023-02-21T18:07:44.286Z,F,True,N,N,True,Amit
2,Loving life,"[""Jawaharlal Nehru University""]",2001-01-08T00:00:00.000Z,[88.67224454879761],2023-02-07T05:57:29.233Z,F,"[""Badminton"",""Design"",""Writing"",""Open-Minded"",...",True,2023-02-14T10:33:13.373Z,M,True,N,N,True,Ritz
3,Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...,"[""Jawaharlal Nehru University""]",2000-08-20T00:00:00.000Z,"[90.63367247581482,70.43942511081696,96.189951...",2023-02-07T06:04:39.836Z,M,"[""Singing"",""Cricket"",""Concerts"",""Vegetarian"",""...",True,2023-02-26T20:28:11.956Z,F,True,N,N,True,Devesh Shukla
4,ðŸ™„,"[""Jawaharlal Nehru University""]",2000-07-31T00:00:00.000Z,NaN,2023-02-07T07:05:14.605Z,M,"[""Football"",""Gym"",""Biryani"",""Sci-fi"",""Cricket""]",True,2023-02-07T07:09:17.627Z,A,NaN,N,N,False,Aditya bhadoriya
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,You deserve someone who makes you feel like th...,"[""Deshbandhu College""]",1998-05-10T00:00:00.000Z,[61.251795291900635],2023-03-03T09:53:01.297Z,M,"[""Documentaries"",""Reels"",""Dancing""]",True,2023-03-03T09:58:15.338Z,F,NaN,NaN,NaN,False,Rohit
1401,Let's watch Optimus Prime kill The fallen toge...,"[""Indian Institute of Technology(IIT), Delhi""]",2003-09-01T00:00:00.000Z,"[99.27465915679932,93.95707845687866]",2023-03-03T12:43:15.149Z,M,"[""Rock"",""Vegetarian""]",True,2023-03-03T15:30:05.813Z,F,NaN,N,NaN,False,Ayush Shukla
1402,Looking forward to something,"[""Indian Institute of Technology(IIT), Delhi""]",2004-09-17T00:00:00.000Z,"[62.929182251294456,88.43805193901062]",2023-03-03T12:43:15.633Z,M,"[""Bollywood"",""EDM"",""Coffee"",""Football"",""Biryani""]",True,2023-03-03T15:10:17.314Z,F,NaN,NaN,NaN,False,Humayun Mughal
1403,Hi,"[""Jawaharlal Nehru University""]",1995-07-27T00:00:00.000Z,[],2023-03-03T16:12:31.677Z,M,[],True,2023-03-03T16:22:51.150Z,F,NaN,NaN,NaN,False,Swatantra
1404,"Multilingual, weekend life, chilla","[""Jawaharlal Nehru University""]",1999-11-01T00:00:00.000Z,"[98.56662154197693,98.47255349159241,92.074596...",2023-03-03T17:52:52.405Z,M,"[""Running"",""Swimming"",""Stand Up"",""Biryani"",""EDM""]",True,2023-03-03T17:57:27.400Z,F,NaN,NaN,NaN,False,Fahad

In [83]:
users_df["interests"][0]

'["Art & Craft","Bollywood","Comedy","Design","Badminton"]'

In [84]:
users_df.isnull().sum()

bio                             329
college                           2
dob                             213
face_detection_probabilities    640
createdAt                         0
gender                          147
interests                         2
status                            0
updatedAt                         0
who_to_date                     215
is_subscribed                   848
is_habit_drink                  522
is_habit_smoke                  525
is_verified                       1
name                            144
dtype: int64

In [85]:
users_df['status'].sum()

1113

In [86]:
users_df  = users_df.drop(users_df[users_df.status==False].index)

In [87]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1113 entries, 0 to 1404
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bio                           871 non-null    object
 1   college                       1113 non-null   object
 2   dob                           963 non-null    object
 3   face_detection_probabilities  632 non-null    object
 4   createdAt                     1113 non-null   object
 5   gender                        993 non-null    object
 6   interests                     1113 non-null   object
 7   status                        1113 non-null   bool
 8   updatedAt                     1113 non-null   object
 9   who_to_date                   961 non-null    object
 10  is_subscribed                 346 non-null    object
 11  is_habit_drink                718 non-null    object
 12  is_habit_smoke                716 non-null    object
 13  is_verified                   1113 non-null   object
 14  name                          995 non-null    object
dtypes: bool(1), object(14)
memory usage: 131.5+ KB

In [88]:
users_df.isnull().sum()

bio                             242
college                           0
dob                             150
face_detection_probabilities    481
createdAt                         0
gender                          120
interests                         0
status                            0
updatedAt                         0
who_to_date                     152
is_subscribed                   767
is_habit_drink                  395
is_habit_smoke                  397
is_verified                       0
name                            118
dtype: int64

In [89]:
users_df  = users_df [users_df ['gender'].notna()]

In [90]:
users_df.isnull().sum()

bio                             122
college                           0
dob                              30
face_detection_probabilities    422
createdAt                         0
gender                            0
interests                         0
status                            0
updatedAt                         0
who_to_date                      32
is_subscribed                   647
is_habit_drink                  275
is_habit_smoke                  277
is_verified                       0
name                              0
dtype: int64

In [91]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 993 entries, 0 to 1404
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bio                           871 non-null    object
 1   college                       993 non-null    object
 2   dob                           963 non-null    object
 3   face_detection_probabilities  571 non-null    object
 4   createdAt                     993 non-null    object
 5   gender                        993 non-null    object
 6   interests                     993 non-null    object
 7   status                        993 non-null    bool
 8   updatedAt                     993 non-null    object
 9   who_to_date                   961 non-null    object
 10  is_subscribed                 346 non-null    object
 11  is_habit_drink                718 non-null    object
 12  is_habit_smoke                716 non-null    object
 13  is_verified                   993 non-null    object
 14  name                          993 non-null    object
dtypes: bool(1), object(14)
memory usage: 117.3+ KB

In [92]:
users_df['who_to_date'].fillna("A", inplace = True)

In [93]:
users_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 993 entries, 0 to 1404
Data columns (total 15 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   bio                           871 non-null    object
 1   college                       993 non-null    object
 2   dob                           963 non-null    object
 3   face_detection_probabilities  571 non-null    object
 4   createdAt                     993 non-null    object
 5   gender                        993 non-null    object
 6   interests                     993 non-null    object
 7   status                        993 non-null    bool
 8   updatedAt                     993 non-null    object
 9   who_to_date                   993 non-null    object
 10  is_subscribed                 346 non-null    object
 11  is_habit_drink                718 non-null    object
 12  is_habit_smoke                716 non-null    object
 13  is_verified                   993 non-null    object
 14  name                          993 non-null    object
dtypes: bool(1), object(14)
memory usage: 117.3+ KB

In [94]:
users_df.head()

,bio,college,dob,face_detection_probabilities,createdAt,gender,interests,status,updatedAt,who_to_date,is_subscribed,is_habit_drink,is_habit_smoke,is_verified,name
0,I am very honest and caring person,"[""Jawaharlal Nehru University""]",2002-07-16T00:00:00.000Z,[90.7028079032898],2023-02-07T05:23:18.004Z,M,"[""Art & Craft"",""Bollywood"",""Comedy"",""Design"",""...",True,2023-02-22T11:57:08.616Z,F,True,N,N,True,Prakhar Sharma
1,Let's go on a date.,"[""Heritage ""]",1999-02-26T00:00:00.000Z,[],2023-02-07T05:44:15.450Z,M,"[""Singing"",""Writing"",""Dancing"",""Mountains"",""Bi...",True,2023-02-21T18:07:44.286Z,F,True,N,N,True,Amit
2,Loving life,"[""Jawaharlal Nehru University""]",2001-01-08T00:00:00.000Z,[88.67224454879761],2023-02-07T05:57:29.233Z,F,"[""Badminton"",""Design"",""Writing"",""Open-Minded"",...",True,2023-02-14T10:33:13.373Z,M,True,N,N,True,Ritz
3,Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...,"[""Jawaharlal Nehru University""]",2000-08-20T00:00:00.000Z,"[90.63367247581482,70.43942511081696,96.189951...",2023-02-07T06:04:39.836Z,M,"[""Singing"",""Cricket"",""Concerts"",""Vegetarian"",""...",True,2023-02-26T20:28:11.956Z,F,True,N,N,True,Devesh Shukla
4,ðŸ™„,"[""Jawaharlal Nehru University""]",2000-07-31T00:00:00.000Z,NaN,2023-02-07T07:05:14.605Z,M,"[""Football"",""Gym"",""Biryani"",""Sci-fi"",""Cricket""]",True,2023-02-07T07:09:17.627Z,A,NaN,N,N,False,Aditya bhadoriya

In [95]:
type(users['bio'].iloc[4])

str

In [96]:
def format_interests(s):
  return re.sub("\"|\[|\]|\'", "", s)

users['interests'] = users.interests.apply(lambda x: format_interests(str(x)))
users['college'] = users.college.apply(lambda x: format_interests(str(x)))

In [97]:
users['clg'] = users.college.apply(lambda x: x.lower())

In [98]:
users['clg'] = users.clg.apply(lambda x: re.sub('ja[vw]a.*', "JNU", str(x)))

In [99]:
users['clg'] = users.clg.apply(lambda x: re.sub('.*[jJ][nN][uU].*', "JNU", str(x)))

In [100]:
users['clg'] = users.clg.apply(lambda x: re.sub('.*heritage.*', "HERITAGE", str(x)))

In [101]:
users['clg'] = users.clg.apply(lambda x: re.sub('.*iit.*d+.*', "IITD", str(x)))
users['clg'] = users.clg.apply(lambda x: re.sub('indian institute of technology', "iit", str(x)))
users['clg'] = users.clg.apply(lambda x: re.sub('.*iit.*bhu*.*', "IITBHU", str(x)))
users['clg'] = users.clg.apply(lambda x: re.sub('.*delhi university.*', "DU", str(x)))
users['clg'] = users.clg.apply(lambda x: re.sub('.*du.*', "DU", str(x)))
users['clg'] = users.clg.apply(lambda x: re.sub('.*delhi college of engineering.*', "DCE", str(x)))

In [102]:
U = users['clg'].unique()

In [103]:
users['clg'].value_counts()

JNU                                     770
                                        226
miranda house                            64
DU                                       63
IITD                                     13
                                       ...
dr bhim rao ambedkar college              1
jkbk                                      1
...                                       1
faculty of arts, university of delhi      1
dps                                       1
Name: clg, Length: 173, dtype: int64

In [104]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1405 entries, 0 to 1404
Data columns (total 25 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           1405 non-null   int64
 1   bio                           1076 non-null   object
 2   college                       1405 non-null   object
 3   country                       1405 non-null   object
 4   createdAt                     1405 non-null   object
 5   dob                           1192 non-null   object
 6   email                         1405 non-null   object
 7   face_detection_probabilities  765 non-null    object
 8   gender                        1258 non-null   object
 9   height                        646 non-null    float64
 10  insta_username                0 non-null      float64
 11  interests                     1405 non-null   object
 12  is_habit_drink                883 non-null    object
 13  is_habit_smoke                880 non-null    object
 14  is_verified                   1404 non-null   object
 15  mobile                        1405 non-null   int64
 16  name                          1261 non-null   object
 17  status                        1405 non-null   bool
 18  type                          1405 non-null   object
 19  updatedAt                     1405 non-null   object
 20  verified_at                   178 non-null    object
 21  what_to_find                  884 non-null    object
 22  who_to_date                   1190 non-null   object
 23  is_subscribed                 557 non-null    object
 24  clg                           1405 non-null   object
dtypes: bool(1), float64(2), int64(2), object(20)
memory usage: 264.9+ KB

In [105]:
# def date(obj):
#   return obj[0:11]

# users.dob=users.dob.apply(date)
users['dob'] = pd.to_datetime(users['dob']).dt.strftime('%Y-%m-%d')
users['age'] = users['dob'].apply(lambda x: pd.to_datetime('today').year - pd.to_datetime(x).year)
users

,_id,bio,college,country,createdAt,dob,email,face_detection_probabilities,gender,height,...,name,status,type,updatedAt,verified_at,what_to_find,who_to_date,is_subscribed,clg,age
0,0,I am very honest and caring person,Jawaharlal Nehru University,IN,2023-02-07T05:23:18.004Z,2002-07-16,9000000000@get.idyll,[90.7028079032898],M,175.0,...,Prakhar Sharma,True,U,2023-02-22T11:57:08.616Z,2023-02-22T11:57:04.347Z,C,F,True,JNU,21.0
1,1,Let's go on a date.,Heritage,IN,2023-02-07T05:44:15.450Z,1999-02-26,9100000000@get.idyll,[],M,177.0,...,Amit,True,U,2023-02-21T18:07:44.286Z,2023-02-21T18:01:34.165Z,C,F,True,HERITAGE,24.0
2,2,Loving life,Jawaharlal Nehru University,IN,2023-02-07T05:57:29.233Z,2001-01-08,9200000000@get.idyll,[88.67224454879761],F,175.0,...,Ritz,True,U,2023-02-14T10:33:13.373Z,NaN,R,M,True,JNU,22.0
3,3,Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...,Jawaharlal Nehru University,IN,2023-02-07T06:04:39.836Z,2000-08-20,9300000000@get.idyll,"[90.63367247581482,70.43942511081696,96.189951...",M,177.0,...,Devesh Shukla,True,U,2023-02-26T20:28:11.956Z,NaN,R,F,True,JNU,23.0
4,4,ðŸ™„,Jawaharlal Nehru University,IN,2023-02-07T07:05:14.605Z,2000-07-31,9400000000@get.idyll,NaN,M,178.0,...,Aditya bhadoriya,True,U,2023-02-07T07:09:17.627Z,NaN,NS,A,NaN,JNU,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1400,1400,You deserve someone who makes you feel like th...,Deshbandhu College,IN,2023-03-03T09:53:01.297Z,1998-05-10,9140000000@get.idyll,[61.251795291900635],M,NaN,...,Rohit,True,U,2023-03-03T09:58:15.338Z,NaN,NaN,F,NaN,deshbandhu college,25.0
1401,1401,Let's watch Optimus Prime kill The fallen toge...,"Indian Institute of Technology(IIT), Delhi",IN,2023-03-03T12:43:15.149Z,2003-09-01,9140100000@get.idyll,"[99.27465915679932,93.95707845687866]",M,NaN,...,Ayush Shukla,True,U,2023-03-03T15:30:05.813Z,NaN,NaN,F,NaN,IITD,20.0
1402,1402,Looking forward to something,"Indian Institute of Technology(IIT), Delhi",IN,2023-03-03T12:43:15.633Z,2004-09-17,9140200000@get.idyll,"[62.929182251294456,88.43805193901062]",M,NaN,...,Humayun Mughal,True,U,2023-03-03T15:10:17.314Z,NaN,NaN,F,NaN,IITD,19.0
1403,1403,Hi,Jawaharlal Nehru University,IN,2023-03-03T16:12:31.677Z,1995-07-27,9140300000@get.idyll,[],M,NaN,...,Swatantra,True,U,2023-03-03T16:22:51.150Z,NaN,NaN,F,NaN,JNU,28.0
1404,1404,"Multilingual, weekend life, chilla",Jawaharlal Nehru University,IN,2023-03-03T17:52:52.405Z,1999-11-01,9140400000@get.idyll,"[98.56662154197693,98.47255349159241,92.074596...",M,NaN,...,Fahad,True,U,2023-03-03T17:57:27.400Z,NaN,NaN,F,NaN,JNU,24.0

In [106]:
users.gender.value_counts()

M     946
F     306
NB      6
Name: gender, dtype: int64

In [107]:
users.gender=users.gender.replace(to_replace="M",value="Male")
users.gender=users.gender.replace(to_replace="F",value="Female")
users.gender=users.gender.replace(to_replace="NB",value="Non Binary")
users.gender.value_counts()

Male          946
Female        306
Non Binary      6
Name: gender, dtype: int64

In [108]:
users.who_to_date=users.who_to_date.replace(to_replace="M",value="Male")
users.who_to_date=users.who_to_date.replace(to_replace="F",value="Female")
users.who_to_date=users.who_to_date.replace(to_replace="A",value="Anyone")
users.who_to_date=users.who_to_date.replace(to_replace="NB",value="Non Binary")
users.who_to_date.value_counts()

Female        885
Male          238
Anyone         64
Non Binary      3
Name: who_to_date, dtype: int64

In [109]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1405 entries, 0 to 1404
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           1405 non-null   int64
 1   bio                           1076 non-null   object
 2   college                       1405 non-null   object
 3   country                       1405 non-null   object
 4   createdAt                     1405 non-null   object
 5   dob                           1192 non-null   object
 6   email                         1405 non-null   object
 7   face_detection_probabilities  765 non-null    object
 8   gender                        1258 non-null   object
 9   height                        646 non-null    float64
 10  insta_username                0 non-null      float64
 11  interests                     1405 non-null   object
 12  is_habit_drink                883 non-null    object
 13  is_habit_smoke                880 non-null    object
 14  is_verified                   1404 non-null   object
 15  mobile                        1405 non-null   int64
 16  name                          1261 non-null   object
 17  status                        1405 non-null   bool
 18  type                          1405 non-null   object
 19  updatedAt                     1405 non-null   object
 20  verified_at                   178 non-null    object
 21  what_to_find                  884 non-null    object
 22  who_to_date                   1190 non-null   object
 23  is_subscribed                 557 non-null    object
 24  clg                           1405 non-null   object
 25  age                           1192 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(20)
memory usage: 275.9+ KB

In [110]:
users.is_habit_drink.value_counts()

N    428
S    355
O    100
Name: is_habit_drink, dtype: int64

In [111]:
users.is_habit_drink=users.is_habit_drink.replace(to_replace="N",value="")
users.is_habit_drink=users.is_habit_drink.replace(to_replace="O",value="Drink")
users.is_habit_drink=users.is_habit_drink.replace(to_replace="S",value="Social")
users.is_habit_drink.value_counts()

          428
Social    355
Drink     100
Name: is_habit_drink, dtype: int64

In [112]:
users.is_habit_smoke.value_counts()

N    561
S    200
O    119
Name: is_habit_smoke, dtype: int64

In [113]:
users.is_habit_smoke=users.is_habit_smoke.replace(to_replace="N",value="")
users.is_habit_smoke=users.is_habit_smoke.replace(to_replace="O",value="Smoke")
users.is_habit_smoke=users.is_habit_smoke.replace(to_replace="S",value="Social")
users.is_habit_smoke.value_counts()

          561
Social    200
Smoke     119
Name: is_habit_smoke, dtype: int64

In [114]:
def ver(ob):
  if ob:
    return "Verified"
  else:
    return ""
users.is_verified=users.is_verified.apply(ver)
users.is_verified.value_counts()

            1217
Verified     188
Name: is_verified, dtype: int64

In [115]:
users.is_subscribed.value_counts()
type(users.is_subscribed)

pandas.core.series.Series

In [116]:
# def ver(ob):
#   if ob:
#     return "Subscribed"
#   else:
#     return "No"
users.is_subscribed=users.is_subscribed.apply(lambda x:str(x))
users.is_subscribed=users.is_subscribed.replace(to_replace="True",value="Subscribed")
users.is_subscribed=users.is_subscribed.replace(to_replace="nan",value="")
users.is_subscribed.value_counts()

              848
Subscribed    557
Name: is_subscribed, dtype: int64

In [117]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1405 entries, 0 to 1404
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           1405 non-null   int64
 1   bio                           1076 non-null   object
 2   college                       1405 non-null   object
 3   country                       1405 non-null   object
 4   createdAt                     1405 non-null   object
 5   dob                           1192 non-null   object
 6   email                         1405 non-null   object
 7   face_detection_probabilities  765 non-null    object
 8   gender                        1258 non-null   object
 9   height                        646 non-null    float64
 10  insta_username                0 non-null      float64
 11  interests                     1405 non-null   object
 12  is_habit_drink                883 non-null    object
 13  is_habit_smoke                880 non-null    object
 14  is_verified                   1405 non-null   object
 15  mobile                        1405 non-null   int64
 16  name                          1261 non-null   object
 17  status                        1405 non-null   bool
 18  type                          1405 non-null   object
 19  updatedAt                     1405 non-null   object
 20  verified_at                   178 non-null    object
 21  what_to_find                  884 non-null    object
 22  who_to_date                   1190 non-null   object
 23  is_subscribed                 1405 non-null   object
 24  clg                           1405 non-null   object
 25  age                           1192 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(20)
memory usage: 275.9+ KB

In [118]:
type(users.interests[9])

str

In [119]:
for i, val in enumerate(users.face_detection_probabilities):
  if isinstance(val, float):
    users.face_detection_probabilities.iloc[i] = 0
  else:
    ls = val[1:-1].split(',')
    if ls == ['']:
      users.face_detection_probabilities.iloc[i] = 0
      # print(users.face_detection_probabilities.iloc[i])
    else:
      # print(ls)
      users.face_detection_probabilities.iloc[i] = max(list(map(float, ls)))
      # print(max(list(map(float, ls))))

users.face_detection_probabilities

C:\Users\Pushkar Waykole\AppData\Local\Temp\ipykernel_12332\1245023733.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users.face_detection_probabilities.iloc[i] = max(list(map(float, ls)))
C:\Users\Pushkar Waykole\AppData\Local\Temp\ipykernel_12332\1245023733.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users.face_detection_probabilities.iloc[i] = 0
C:\Users\Pushkar Waykole\AppData\Local\Temp\ipykernel_12332\1245023733.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  users.face_detection_probabilities.iloc[i] = 0

0       90.702808
1               0
2       88.672245
3       96.189952
4               0
          ...
1400    61.251795
1401    99.274659
1402    88.438052
1403            0
1404    98.566622
Name: face_detection_probabilities, Length: 1405, dtype: object

In [120]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1405 entries, 0 to 1404
Data columns (total 26 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   _id                           1405 non-null   int64
 1   bio                           1076 non-null   object
 2   college                       1405 non-null   object
 3   country                       1405 non-null   object
 4   createdAt                     1405 non-null   object
 5   dob                           1192 non-null   object
 6   email                         1405 non-null   object
 7   face_detection_probabilities  1405 non-null   object
 8   gender                        1258 non-null   object
 9   height                        646 non-null    float64
 10  insta_username                0 non-null      float64
 11  interests                     1405 non-null   object
 12  is_habit_drink                883 non-null    object
 13  is_habit_smoke                880 non-null    object
 14  is_verified                   1405 non-null   object
 15  mobile                        1405 non-null   int64
 16  name                          1261 non-null   object
 17  status                        1405 non-null   bool
 18  type                          1405 non-null   object
 19  updatedAt                     1405 non-null   object
 20  verified_at                   178 non-null    object
 21  what_to_find                  884 non-null    object
 22  who_to_date                   1190 non-null   object
 23  is_subscribed                 1405 non-null   object
 24  clg                           1405 non-null   object
 25  age                           1192 non-null   float64
dtypes: bool(1), float64(3), int64(2), object(20)
memory usage: 275.9+ KB

In [121]:
type(str(users.bio))

str

In [122]:
type(users.face_detection_probabilities)

pandas.core.series.Series

In [123]:
users.height

0       175.0
1       177.0
2       175.0
3       177.0
4       178.0
        ...
1400      NaN
1401      NaN
1402      NaN
1403      NaN
1404      NaN
Name: height, Length: 1405, dtype: float64

In [124]:
type(str(users.height))

str

In [125]:
users['tags']=users['bio']+users['clg']+users['dob']+users['gender']+users['interests']+users['is_habit_drink']+users['is_habit_smoke']+users['is_subscribed']+users['is_verified']+users['name']+users['who_to_date']
users.tags=users.tags.replace(to_replace="\n",value=" ")

In [126]:
new_df=users[['_id','tags']]
new_df.head()

   _id                                               tags
0    0  I am very honest and caring personJNU2002-07-1...
1    1  Let's go on a date.HERITAGE1999-02-26MaleSingi...
2    2  Loving lifeJNU2001-01-08FemaleBadminton,Design...
3    3  Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...
4    4  ðŸ™„JNU2000-07-31MaleFootball,Gym,Biryani,Sci-fi,...

In [127]:
from sklearn.feature_extraction.text import CountVectorizer
cv=CountVectorizer(max_features=5000,stop_words='english')

In [128]:
vectors=cv.fit_transform(new_df['tags'].values.astype('U'))

In [129]:
cv.get_feature_names_out()

array(['01', '01femaleart', '01femalefeminism', ..., 'ð’ðœð¡ð¨ð¥ðšð«',
       'ð”ð§ð¢ð¯ðžð«ð¬ð¢ð­ð²', 'ð”ð§ð¢ð¯ðžð«ð¬ð¢ð­ð²___'], dtype=object)

In [130]:
%pip install nltk

Requirement already satisfied: nltk in c:\users\pushkar waykole\appdata\local\programs\python\python310\lib\site-packages (3.8.1)
Requirement already satisfied: joblib in c:\users\pushkar waykole\appdata\local\programs\python\python310\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: tqdm in c:\users\pushkar waykole\appdata\local\programs\python\python310\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: regex>=2021.8.3 in c:\users\pushkar waykole\appdata\local\programs\python\python310\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in c:\users\pushkar waykole\appdata\local\programs\python\python310\lib\site-packages (from nltk) (8.0.4)
Requirement already satisfied: colorama in c:\users\pushkar waykole\appdata\local\programs\python\python310\lib\site-packages (from click->nltk) (0.4.4)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.0 -> 23.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [131]:
import nltk
from nltk.stem.porter import PorterStemmer
ps=PorterStemmer()

def stem(text):
    y=[]
    print(text, type(text))
    for i in text.split():
        y.append(ps.stem(i))
    
    return " ".join(y)

In [132]:
new_df['tags']

0       I am very honest and caring personJNU2002-07-1...
1       Let's go on a date.HERITAGE1999-02-26MaleSingi...
2       Loving lifeJNU2001-01-08FemaleBadminton,Design...
3       Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...
4       ðŸ™„JNU2000-07-31MaleFootball,Gym,Biryani,Sci-fi,...
                              ...
1400                                                  NaN
1401                                                  NaN
1402                                                  NaN
1403                                                  NaN
1404                                                  NaN
Name: tags, Length: 1405, dtype: object

In [133]:
[new_df['tags'].notna()]

[0        True
 1        True
 2        True
 3        True
 4        True
         ...
 1400    False
 1401    False
 1402    False
 1403    False
 1404    False
 Name: tags, Length: 1405, dtype: bool]

In [134]:
new_df[new_df['tags'].notna()]

       _id                                               tags
0        0  I am very honest and caring personJNU2002-07-1...
1        1  Let's go on a date.HERITAGE1999-02-26MaleSingi...
2        2  Loving lifeJNU2001-01-08FemaleBadminton,Design...
3        3  Jai Maharashtra\nðŸ¥²Bharat Mata ki Jay.....\nInq...
4        4  ðŸ™„JNU2000-07-31MaleFootball,Gym,Biryani,Sci-fi,...
...    ...                                                ...
1369  1369  Beyond all ideas of wrong doings and right doi...
1371  1371  Hey.college of vocational studies2003-04-23Fem...
1375  1375  Up for picnic and book reading session?miranda...
1391  1391  Let's talk about movies, memes and metaphysics...
1395  1395  Hii I am Chandan Kumar from Bihar Sitamarhi,ra...

[794 rows x 2 columns]

In [135]:
new_df['tags']=new_df[new_df['tags'].notna()]
new_df['tags']=new_df['tags'].apply(stem)

ValueError: Columns must be same length as key